{% extends 'base.html' %} <!--說明用外界的模板-->
{% block title %}  {{ blog.title }}{% endblock %}
{% block nav_blog_active %}active{% endblock %}

{% load staticfiles %}
{% block home_style %}
	<link rel="stylesheet" type="text/css" href="{% static "blog/blog.css" %}">
{% endblock %}

{% block content %}
	<div class="container">
		<div class="row">
			<div class="col-sm-8 col-sm-offset-1">
				<h3>{{ blog.title }}</h3>  <!--显示每一篇博客的标题-->
				<ul class="blog-feature">
					<li>作者：{{ blog.author }}</li>
					<li>发表日期：{{ blog.Create_time }}</li>
					<a href="{% url 'blogs_all_of_the_type' blog.blog_type.pk %}">
						分类：<li>{{ blog.blog_type }}</li>
					</a>
					<li>阅读({{ blog.read_num }})</li>
				</ul>
				<div class="blog-content">
					{{ blog.content|safe }}   <!--safe是过滤器,使得可以在内容中执行html代码-->
				</div>
				<div class="blog_next_and_previous">  <!--设置这篇博客与上下篇之间的链接-->
					<p>
						{% if previous_blog %}  <!--如果上一篇博客存在,则执行-->
							上一篇:<a href="{% url 'blog_detail' previous_blog.pk %}">
								{{ previous_blog.title }}
							</a>	
						{% else %}
							上一篇:没有了
						{% endif %}
					</p>
					<p>
						{% if next_blog %}  <!--如果下一篇博客存在-->
							下一篇:<a href="{% url 'blog_detail' next_blog.pk %}">
								{{ next_blog.title }}
							</a>
						{% else %}
							下一篇:没有了
						{% endif %}
					</p>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-8 col-sm-offset-1">
				<div class="comment-area">
					<h3 class="comment-area-title">提交评论</h3>
					{% if user.is_authenticated %}  <!--判断是否登录,user是request里面的信息-->
						{{ user }},欢迎评论
						<form action="{% url "submit_comment" %}" method="POST">
							{% csrf_token %} <!--绕过django的一个认证机制-->
							<!--评论内容-->
							<textarea name="text"></textarea>  <!--可以多行输入的文本域-->
							<!--评论对象的类型-->
							<input type="hidden" name="content_type" value="blog">
							<!--评论对象的id-->
							<input type="hidden" name="object_id" value={{ blog.pk }}>
							<!--submit-->
							<input type="submit" value="评论">

						</form>
					{% else %}
						您尚未登录,请登录后再评论
						<a href="{% url "userlogin" %}?from={{ request.get_full_path }}">登录</a>
						<!--get_full_path获得这个页面完整路径-->
					{% endif %}
				</div>
			</div>
			<div class="col-sm-8 col-sm-offset-1">
				<div class="comment-area">
					<h3 class="comment-area-title">评论列表</h3>
					{% for comment in comments %}
					<div>
						{{ comment.user }}
						({{ comment.comment_time }}):
						{{ comment.text }}
					</div>
					{% empty %}
						<h4>----暂无评论----</h4>
					{% endfor %}
				</div>
			</div>
		</div>
	</div>
{% endblock %}
